<nav class="container-fluid navbar navbar-expand-lg p-0 bg-theme">
  <div class="container-fluid justify-content-around">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center mx-auto"
        style="text-transform: uppercase"
      >
        <li class="nav-item">
          <a class="nav-link px-3" href="/admin/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="/admin/product_management">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="/admin/customer_management"
            >Customers</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="/admin/orders">Orders</a>
        </li>

        <li class="nav-item">
          <a class="nav-link px-3" href="/admin/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="/admin/brands">Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="/admin/coupon_management">Coupons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="/admin/banner_management">Banners</a>
        </li>
        <%if(admin){%>
        <li class="nav-item">
          <a class="nav-link px-3" href="/admin/manager_management" >Managers</a>
        </li>
        <%}else{%>
          <li class="nav-item">
            <a class="nav-link px-3" href="/manager/profile" >Profile</a>
          </li>
        <%}%>
      </ul>
    </div>
  </div>
</nav>
