</section>

<footer class="bg-theme">
  <div
    class="container links pt-4 pb-2 row mx-auto line-break d-flex justify-content-around"
  >
    <a class="col-lg-2 pb-2 text-center text-white text-white " href="#">Track Shipping</a>
    <a class="col-lg-2 pb-2 text-center text-white text-white" href="#">Contact Us</a>
    <a class="col-lg-2 pb-2 text-center text-white text-white" href="#">Customer Care</a>
    <a class="col-lg-2 pb-2 text-center text-white text-white" href="#">About us</a>
    <span class="col-lg-2 justify-content-center d-flex align-items-center ">
      <i class="fab fa-instagram text-white"></i>
      <i class="fab fa-facebook-f text-white"></i>
      <i class="fab fa-twitter text-white"></i>
      <i class="fab fa-whatsapp text-white"></i>
    </span>
  </div>
  <div class="copyright bg-theme py-2 text-center text-white">
    <span>Copyright © 2023 | LAP4YOU | Made by <a href="https://rishikesht1245.github.io/Rishikesh_website/">Rishikesh T</a></span>

  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
  // Prevents current url got saved in the browsers history stack
  if ( window.history.replaceState ) {
 window.history.replaceState( null, null, window.location.href );
  }
</script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
  crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="/public/js/admin/admin.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Image Cropping -->
<!-- Cropper js cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/public/js/user/order.js"></script>
<!-- image cropper -->
<script>
  $(document).ready(function (){
    let result = $(".result"),
        img_result = $(".img-result"),
        save = $(".btn-save"),
        cropped = $(".cropped"),
        file_input = $("#file-input"),
        btn_submit = $(".btn-submit")
    let input = $("<input>")
          .attr("id", "cropped-image")
          .attr("type" ,"hidden")
          .attr("name" , "croppedImage");
    let cropper;

    
    file_input.on('change', function(e){
      //instantiate fileReader for reading files from user's system
      const reader = new FileReader();
      reader.onload = function(e){
        if(e.target.result){
          // create a new image element for displaying the cropping
          let img = document.createElement("img");
          img.id ="image";
          img.src = e.target.result;

          result.removeClass('hide');
          // clearing previous results
          result.html("");

          //Append new image
          result.append(img);

          //show save button
          save.removeClass('hide');

          // initialise cropper 
          cropper = new Cropper(img);
        }
      };

      // reading the file input after initialising the prerequisites
      reader.readAsDataURL(e.target.files[0]);
    });

    save.on('click', () => {
      //get the canvas with the cropped image data
      let canvas = cropper.getCroppedCanvas();
      //convert the canvas to a Blob object representing the file
      canvas.toBlob(function(blob) {
        // Create a new FormData object
        let formData = new FormData();

        // Append the cropped image file to the FormData object
        formData.append('croppedImage', blob);

        // Append other data to the FormData object
        formData.append('name', $('#form-holder').val());
        // Append more fields if needed

        // Append the FormData object to the hidden input field
        input.val(""); // Clear the value of the input field before appending
        $("form").append(input);
        input.prop("value", formData); // Set the FormData object as the value

        //show cropped image
        img_result.removeClass('hide');
        cropped.attr('src', canvas.toDataURL());
        result.addClass('hide');
        save.addClass('hide');

  
      }, 'image/png');
    });

    btn_submit.on('submit', () => {
      $.ajax({
          url:'/users/profile',
          method : 'post',
          data: input.serialize(),
          processData: false,
          contentType: false,
          success: (res) => {
            location.href = '/users/profile'
          }
        });
    });
        
  })
</script>

</body>
</html>