<nav class="container-fluid navbar navbar-expand-lg p-0 bg-theme">
    <div class="container-fluid justify-content-around">
      <button
        class="navbar-toggler my-2"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center mx-auto ">
          <li class="nav-item">
            <a class="nav-link px-4 text-white" href="/users/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-4 text-white" href="/users/wishlist">Wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-4 text-white" href="/users/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-4 text-white" href="/users/orders">Orders</a>  
          </li>
  
          <li class="nav-item">
            <a class="nav-link px-4 text-white" href="/users/addresses">Address</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-4 text-white fw-bold" href="/users/signOut">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  