</section>

 <footer class="bg-theme" style="background: #f3f2f2; height: 20%;">
      <div
        class="container links pt-4 pb-2 row mx-auto line-break d-flex justify-content-around footer-links"
      >
        <a class="col-lg-2 pb-2 text-center text-black" href="#"
          >Track Shipping</a
        >
        <a class="col-lg-2 pb-2 text-center text-black" href="#">Contact Us</a>
        <a class="col-lg-2 pb-2 text-center text-black" href="#"
          >Customer Care</a
        >
        <a class="col-lg-2 pb-2 text-center text-black" href="#">About us</a>
        <span class="col-lg-2 justify-content-center d-flex align-items-center">
          <i class="fab fa-instagram text-black"></i>
          <i class="fab fa-facebook-f text-black"></i>
          <i class="fab fa-twitter text-black"></i>
          <i class="fab fa-whatsapp text-black"></i>
        </span>
      </div>
      <div
        class="copyright bg-theme py-1 text-center"
        style="font-size: 0.85rem ; background: #f1efef;" 
      >
        <span style="color: black"
          >Copyright © 2023 | LAP4YOU | Made by
          <a
            href="https://rishikesht1245.github.io/Rishikesh_website/"
            style="color: gray"
            >Rishikesh T
          </a></span
        >
      </div>
    </footer>
<script>
  if ( window.history.replaceState ) {
 window.history.replaceState( null, null, window.location.href );
  }
</script>
<script src="/public/js/signUp.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>