<%- include('../layouts/header') %>

<div class="container">
  <div class="line-break text-center py-4">
    <span class="shadow-heading">Enter New Password</span>
  </div>
  <div class="row mb-5 pt-4">
    <span class="text-center pb-3" style="font-size: 0.8rem; text-transform: none;">
        <p class="text-danger mt-0 pt-4 fw-bold text-uppercase"><%= locals.errorMessage %></p>
    </span>
    
    <div class="col-lg-5 mx-auto">        
      <form action="" method="post">
        <div class="mb-3">
          <input
            required
            class="form-control"
            id="form-holder"
            placeholder="Enter New Password"
            name="newPassword"
            type="password"
          />
        </div>
        <input type="submit" class="btn btn-dark w-100" value="Change Password" />
      </form>
    </div>
  </div>
</div>

<%- include('../layouts/footer') %>
